name: Deploy to Minikube using GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    name: Build Docker Image and deploy to Minikube
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Start Minikube
      uses: medyagh/setup-minikube@master
      
    - name: List pods in the cluster
      run: kubectl get pods -A
      
    - name: Build Docker image
      run: |
        export SHELL=/bin/bash
        eval $(minikube -p minikube docker-env)
        docker build -f Dockerfile -t kalpanamamnani/todo_app:latest .
        echo "Verifying images:"
        docker images
        
    - name: Deploy to Minikube
      run: kubectl apply -f k8-deploy.yaml
      
    - name: Test service URLs
      run: |
        minikube service list
        minikube service nginx-app --url
